@use 'src/styles/variables' as var;

.panel {
  flex: 1 1 50%;
  max-width: 660px;
  min-width: 588px;

  margin: 17px;
  padding: 50px 58px 40px;
  background: var.$base_weak;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);

  @media (max-width: var.$table_portrait) {
    min-width: 250px;
  }

  @media (max-width: var.$tablet_landscape) {
    padding: 41px 46px;
  }

  @media (max-width: var.$phone_landscape) {
    margin: 10px;
    padding: 32px 24px;
  }
}

.panel__header {
  margin-bottom: 32px;
  font-family: var.$main_font;
  font-weight: bold;
  font-size: 32px;
  color: var.$base_strong;
  cursor: default;
}
