@use 'src/styles/variables' as var;

.list {
  max-height: 160px;
  margin: 5px 6px 5px 0;
  padding: 6px;
  overflow-y: auto;

  &__item {
    padding: 6px 10px;
    font-family: var.$main_font;
    font-size: 16px;
    color: var.$base_strong;
    line-height: 24px;
    border-radius: 8px;
    background: transparent;

    &:hover {
      background: rgba(var.$secondary, 0.06);
      cursor: pointer;
    }
  }
}
