@use 'variables' as var;

%scrollbar-thumb {
  z-index: -1;
  border-radius: 38px;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    z-index: -1;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    z-index: -1;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    @extend %scrollbar-thumb;
    background: rgba(var.$secondary, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    @extend %scrollbar-thumb;
    background: rgba(var.$secondary, 0.8);
  }

  // for mozilla firefox
  scrollbar-color: rgba(var.$secondary, 0.4) transparent;
  scrollbar-width: thin;
}
