// fonts
$main_font: Ubuntu, sans-serif;

// colors
$accent: #373af5;
$secondary: #8083a4;
$base_strong: #2c2d76;
$critic: #e5596d;
$base_weak: #ffffff;

// breakpoints
$desktop: 1280px;
$tablet_landscape: 922px;
$table_portrait: 720px;
$phone_landscape: 600px;
$phone_portrait: 320px;
