@use 'src/styles/variables' as var;
@use 'src/styles/functions';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  padding: 35px 18px 16px;
  background-color: var.$accent;
  background-image: url("../../assets/images/background/Academy-Weather forecast-Bg-up.png"),
  url("../../assets/images/background/Academy-Weather forecast-Bg-buttom.png");
  background-repeat: no-repeat;
  background-position: 100% 0, 0 100%;
  background-size: contain;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../../assets/images/background/Academy-Weather forecast-Bg-up@2x.png"),
    url("../../assets/images/background/Academy-Weather forecast-Bg-buttom@2x.png");
  }

  @media(max-width: var.$table_portrait) {
    padding: 20px 0 16px;
  }

  @media(max-width: var.$phone_portrait) {
    font-size: 10px;
  }
}

.header {
  font-family: var.$main_font;
  @include functions.getResponseValue(font-size, 32px, 102px);
  font-weight: bold;
  line-height: 1em;
  color: var.$base_weak;
  cursor: default;
}

.header__text {
  display: flex;
  flex-direction: column;
  margin: 35px 0;

  @media(max-width: var.$table_portrait) {
    margin: 12px 0 25px;
  }
}

.header__text-part {
  width: calc(50% + 1em / 4.25);

  &:first-child {
    text-align: end;
  }

  &:last-child {
    margin-left: auto;
  }
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.footer {
  margin-top: auto;
  font-family: var.$main_font;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var.$base_weak;
  opacity: 0.6;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: var.$desktop) {
    margin-top: 13px;
  }

  @media (max-width: var.$phone_landscape) {
    margin-top: 52px;
  }
}
