@use 'src/styles/variables' as var;

.select {
  position: relative;
  width: 100%;

  &__input-wrapper {
    position: relative;
    width: inherit;

    &::after {
      position: absolute;
      right: 0;
      width: 54px;
      height: 100%;
      content: '';
      cursor: pointer;
      pointer-events: none;
      transition: opacity 0.2s;
    }

    &_opened::after {
      background: url('../../assets/images/icons/16/chevron-top.svg') no-repeat center;
    }
    &_closed::after {
      background: url('../../assets/images/icons/16/chevron-bottom.svg') no-repeat center;
    }

    &:hover::after {
      opacity: 0.6;
    }
  }

  &__input {
    width: inherit;
    height: 48px;
    padding: 0 54px 0 16px;
    font-family: var.$main_font;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var.$secondary;
    background: rgba(var.$secondary, 0.06);
    border: 2px solid rgba(var.$secondary, 0.2);
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s;

    &::placeholder {
      color: var.$secondary;
    }

    &:hover {
      border-color: var.$secondary;
    }

    &:focus {
      border-color: var.$accent;
    }

    &_filled {
      color: var.$base_strong;
    }

    &_invalid, &_invalid:focus {
      border-color: var.$critic;
      color: var.$critic;
    }
  }

  &__button {
    display: none;
    visibility: hidden;
  }

  &__balloon {
    position: absolute;
    z-index: 1;
    top: 60px;
    width: inherit;
    background: var.$base_weak;
    border: 2px solid rgba(var.$secondary, 0.06);
    box-shadow: 0 2px 4px rgba(4, 5, 73, 0.16), 14px 14px 20px rgba(5, 6, 114, 0.08);
    border-radius: 8px;
  }
}
