@use 'src/styles/variables' as var;

::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.date {
  position: relative;
  width: 100%;

  &::after {
    background: url("../../assets/images/icons/16/calendar.svg") no-repeat center;
  }

  &__input {
    &:hover {
      ::-webkit-calendar-picker-indicator {
        opacity: 0.6;
      }
    }

    &_inactive {
      color: transparent;
    }
  }

  &__placeholder {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 16px;
    font-family: var.$main_font;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var.$secondary;
    background: transparent;
    pointer-events: none;
  }
}
